{% extends 'base_black.html' %}

{% block container %}

     <div class="row mt-5">
        <div class="col-6 offset-3">
            <form action="/sent" class="card mb-3" method="POST">


                  <div class="card-body text-center pt-5">
                    <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
                    <h5 class="card-title mt-2 mb-2">{{ teacher.name }}</h5>
                    <p class="my-1">Запись на пробный урок</p>
                    <p class="my-1">{{ day }}, {{ hour }}</p>
                  </div>


                   <hr/>

                   <div class="card-body mx-3">

                       {{ form.hidden_tag() }}
                       <p>
                           {{ form.name.label }}<br>
                           {{ form.name(size=32) }}
                       </p>
                       <p>
                           {{ form.phone.label }}<br>
                           {{ form.phone(size=32) }}
                       </p>
                       <p>{{ form.submit() }}</p>

                       <p class="mb-1 mt-2">Вас зовут</p>
                       <input class="form-control" type="text" name="c_name" placeholder="">

                       <p class="mb-1 mt-2">Ваш телефон</p>
                       <input class="form-control" type="text" name="c_phone" placeholder="">

                       <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

                   </div>

                </form>

        </div>
     </div>

{% endblock %}