{% extends 'base.html' %}

{% block container %}

    <h2 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br/>Преподаватели <br/>  {{ goal }}</strong></h2>

    <div class="w-75 m-auto">

    {% for teacher in teachers %}
        {% if goal in teacher.goals %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="{{ teacher.picture }}" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                        <h5>{{ teacher.name }}</h5>
                        <p>{{ teacher.about|truncate(150) }}</p>
                        <a href="/profiles/{{ teacher.id }}" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="/message" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}


    </div>

{% endblock %}