{% extends 'base_black.html' %}

{% block container %}

     <div class="row mt-5">
        <div class="col-6 offset-3">
            <form action="/message_sent" class="card mb-3" method="POST">


                  <div class="card-body text-center pt-5">
                    <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
                    <h5 class="card-title mt-2 mb-2">{{ teacher.name }}</h5>
                    <p class="my-1">Отправить сообщение</p>
                  </div>


                   <hr/>

                   <div class="card-body mx-3">

                  {{ form.hidden_tag() }}
                       <p>
                           {{ form.name.label }}<br>
                           {{ form.name(size=32) }}
                       </p>
                       <p>
                           {{ form.phone.label }}<br>
                           {{ form.phone(size=32) }}
                       </p>
                       <p>
                           {{ form.message.label }}<br>
                           {{ form.message(size=32) }}
                       </p>
                       <p>{{ form.submit() }}</p>

                   </div>

                </form>

        </div>
     </div>

{% endblock %}